@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@600;800&display=swap");
.button {
  border: 2px solid #fff;
  background-color: transparent;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 13pt;
  padding: 10px 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
  font-size: 30px;
  margin-top: 10vh;
}

.button:hover {
  background-color: #04c2c9;
  border-color: #04c2c9;
}

.button:hover i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.button i {
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #252934;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /* Style navigation menu links */
  /* Style the hamburger menu */
}

.topnav #myLinks {
  display: none;
  padding-top: 5vh;
}

.topnav a {
  color: #ababab;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  text-align: right;
}

.topnav a:hover {
  text-decoration: underline;
  color: white;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.topnav a.icon {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 3vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 45px;
}

h2 {
  padding: 3vh 0;
  font-size: 35px;
  text-align: center;
  color: black;
}

h3 {
  font-size: 22px;
  color: #e31b6d;
}

.highlight {
  color: #e31b6d;
  font-weight: 800;
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: auto;
  text-align: center;
  grid-gap: 20px;
}

.column {
  margin-bottom: 3vh;
}

.column .dot {
  height: 25vw;
  width: 25vw;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#d16ba5), color-stop(#c777b9), color-stop(#ba83ca), color-stop(#aa8fd8), color-stop(#9a9ae1), color-stop(#8aa7ec), color-stop(#79b3f4), color-stop(#69bff8), color-stop(#52cffe), color-stop(#41dfff), color-stop(#46eefa), to(#5ffbf1));
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.column .dot i {
  font-size: 15vw;
  color: white;
}

.column h3 {
  margin: 2vh 0 1vh 0;
}

.column p {
  font-size: 0.9em;
}

#particles-js {
  background-color: #252934;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

/* Format the welcome message */
#welcome-message {
  text-align: left;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
  width: 90%;
}

#welcome-button {
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
  width: 90%;
}

.Typewriter__cursor {
  color: #e31b6d;
  font-size: 1.3em;
}

#profile-picture {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.profile-flex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  width: 80%;
  margin: auto;
  text-align: center;
  grid-gap: 20px;
}

/* PROJECTS SECTION */
.projects-section {
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: #f5f5f5;
}

.projects-container {
  width: 90%;
  margin: auto;
  padding: 20px 20px;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  justify-items: center;
}

.face {
  width: 80vw;
}

.face1 {
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 20px 20px 0px 0px;
}

.card_1 {
  background-image: url(./img/dada.png);
}

.card_2 {
  background-image: url(./img/brewdog.gif);
}

.card_3 {
  background-image: url(./img/calculator.jpg);
}

.card_4 {
  background-image: url(./img/Morse.png);
}

.card {
  border-radius: 20px;
  background-color: rgba(37, 41, 52, 0.1);
}

.card-txt {
  text-align: center;
  padding: 15px;
}

.card-txt p {
  color: grey;
  font-size: 20px;
}

.card-txt .langs {
  margin-top: 20px;
  color: black;
  font-weight: bold;
  font-size: 16px;
}

.card-txt .lang-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
}

.card-links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-links a {
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: Black;
}

.card-links a:hover {
  color: #e31b6d;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.card-links a i {
  opacity: 1;
  font-size: 40px;
}

#page-4 {
  background-color: #252934;
  height: 200px;
}

#page-4 h2 {
  color: white;
}

#page-4 ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 40%;
  margin: auto;
  grid-gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#page-4 ul li {
  list-style: none;
  text-align: center;
}

#page-4 ul li i {
  color: white;
  font-size: 40pt;
}

#page-4 ul li i:hover {
  color: #04c2c9;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.skills {
  margin: 20px 0 40px;
  color: #282828;
  width: 90%;
  height: 486px;
  margin: auto;
  position: relative;
}

.skills ul {
  list-style: none;
}

.skills li {
  text-align: left;
}

.skills i {
  font-size: 30px;
  width: 50px;
  padding-right: 20px;
}

.lines {
  height: 100%;
  position: relative;
}

.line {
  height: inherit;
  width: 2px;
  position: absolute;
  background: rgba(238, 238, 238, 0.6);
}

.line.l--0 {
  left: 0;
}

.line.l--25 {
  left: 25%;
}

.line.l--50 {
  left: 50%;
}

.line.l--75 {
  left: 75%;
}

.line.l--100 {
  left: calc(100% - 1px);
}

.charts {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.chart--horiz {
  overflow: hidden;
}

.chart__bar {
  height: 40px;
  margin-bottom: 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(#d16ba5), color-stop(#c777b9), color-stop(#ba83ca), color-stop(#aa8fd8), color-stop(#9a9ae1), color-stop(#8aa7ec), color-stop(#79b3f4), color-stop(#69bff8), color-stop(#52cffe), color-stop(#41dfff), color-stop(#46eefa), to(#5ffbf1));
  background-image: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  opacity: 0;
  -webkit-animation: 1s anim-lightspeed-in ease forwards;
          animation: 1s anim-lightspeed-in ease forwards;
}

.chart--dev .chart__bar:nth-of-type(9) {
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}

.chart--dev .chart__bar:nth-of-type(8) {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.chart--dev .chart__bar:nth-of-type(7) {
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
}

.chart--dev .chart__bar:nth-of-type(6) {
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}

.chart--dev .chart__bar:nth-of-type(5) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.chart--dev .chart__bar:nth-of-type(4) {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.chart--dev .chart__bar:nth-of-type(3) {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

.chart--dev .chart__bar:nth-of-type(2) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.chart--dev .chart__bar:nth-of-type(1) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.chart__label {
  padding-left: 10px;
  line-height: 40px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes anim-lightspeed-in {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes anim-lightspeed-in {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/* Set font and reset margin & padding to be set */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.page {
  height: 100vh;
}

@media (min-width: 560px) {
  h1 {
    font-size: 55px;
  }
  .highlight {
    font-size: 65px;
  }
  .button {
    font-size: 30px;
  }
  .column .dot {
    height: 18vw;
    width: 18vw;
  }
  .column .dot i {
    font-size: 10vw;
  }
  .portfolio-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .face {
    height: 250px;
    width: 400px;
  }
}

@media (min-width: 960px) {
  h1 {
    font-size: 65px;
  }
  .highlight {
    font-size: 75px;
  }
  .grid-container {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    width: 960px;
  }
  .column {
    margin-bottom: 1vh;
  }
  .column .dot {
    height: 115px;
    width: 115px;
  }
  .column .dot i {
    font-size: 67px;
  }
  .column h3 {
    font-size: 22px;
    margin: 0.5vh 0 0.5vh 0;
  }
  .profile-flex {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    width: 960px;
    margin-top: 75px;
    margin-bottom: 100px;
  }
  .profile-flex h3 {
    padding: 0.5vw;
    font-size: 22px;
  }
  .profile {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .skills {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  .projects-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1300px) {
  h1 {
    font-size: 80px;
  }
  .highlight {
    font-size: 90px;
  }
  .projects-container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}
/*# sourceMappingURL=style.css.map */