.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 80%;
	margin: auto;
	text-align: center;
	grid-gap: 20px;
}

.column {
	margin-bottom: 3vh;

	.dot {
		height: 25vw;
		width: 25vw;
		background-image: linear-gradient(
			to right top,
			#d16ba5,
			#c777b9,
			#ba83ca,
			#aa8fd8,
			#9a9ae1,
			#8aa7ec,
			#79b3f4,
			#69bff8,
			#52cffe,
			#41dfff,
			#46eefa,
			#5ffbf1
		);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: auto;

		i {
			font-size: 15vw;
			color: white;
		}
	}

	h3 {
		margin: 2vh 0 1vh 0;
	}

	p {
		font-size: 0.9em;
	}
}
