@mixin stagger-anim-delay($i, $initial-delay, $stagger-delay) {
	@while $i > 0 {
		&:nth-of-type(#{$i}) {
			animation-delay: $initial-delay + $stagger-delay * $i;
		}
		$i: $i - 1;
	}
}

$baseFontSize: 16px;
$baseLineHeight: 1;

$chartGap: 10px;
$chartCount: 1;
$chartOneCount: 9;
$totalChartCount: $chartOneCount;

$titleGap: 10px;
$titleHeight: $baseFontSize * $baseLineHeight + $titleGap;

$chartBarHeight: 40px;
$chartBarGap: 10px;

.skills {
	ul {
		list-style: none;
	}
	li {
		text-align: left;
	}
	i {
		font-size: 30px;
		width: 50px;
		padding-right: 20px;
	}
	margin: 20px 0 40px;
	color: #282828;

	width: 90%;
	height: $totalChartCount * ($chartBarHeight + $chartBarGap) +
		($chartCount * ($chartGap + $titleHeight));
	margin: auto;
	position: relative;
}

.lines {
	height: 100%;
	position: relative;
}
.line {
	height: inherit;
	width: 2px;

	position: absolute;

	background: rgba(#eee, 0.6);

	&.l--0 {
		left: 0;
	}
	&.l--25 {
		left: 25%;
	}
	&.l--50 {
		left: 50%;
	}
	&.l--75 {
		left: 75%;
	}
	&.l--100 {
		left: calc(100% - 1px);
	}
}

.charts {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.chart--horiz {
	overflow: hidden;
}

.chart__bar {
	$border-rad: 4px;
	height: $chartBarHeight;
	margin-bottom: $chartBarGap;

	background-image: linear-gradient(
		to right,
		#d16ba5,
		#c777b9,
		#ba83ca,
		#aa8fd8,
		#9a9ae1,
		#8aa7ec,
		#79b3f4,
		#69bff8,
		#52cffe,
		#41dfff,
		#46eefa,
		#5ffbf1
	);
	border-top-right-radius: $border-rad;
	border-bottom-right-radius: $border-rad;
	opacity: 0;

	animation: 1s anim-lightspeed-in ease forwards;

	.chart--dev & {
		@include stagger-anim-delay($chartOneCount, 0.5s, 0.2s);
	}
}

.chart__label {
	padding-left: 10px;
	line-height: 40px;
	color: white;
	display: flex;
	align-items: center;
}

//Keyframes
@keyframes anim-lightspeed-in {
	0% {
		transform: translateX(-200%);
		opacity: 1;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
